<ul>
        <li class="mb-4 group">
            <a href="{{ path('unit_create') }}" class="block transform transition duration-300 ease-in-out hover:translate-x-1 hover:bg-gray-700 rounded">
                <div class="flex justify-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">Unit Create</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="mb-4 group">
            <a href="{{ path('unit_list') }}" class="block transform transition duration-300 ease-in-out hover:translate-x-1 hover:bg-gray-700 rounded">
                <div class="flex justify-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">Unit List</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="mb-4 group">
            <a href="{{ path('unit_create') }}" class="block transform transition duration-300 ease-in-out hover:translate-x-1 hover:bg-gray-700 rounded">
                <div class="flex justify-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">Category Create</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="mb-4 group">
            <a href="{{ path('unit_create') }}" class="block transform transition duration-300 ease-in-out hover:translate-x-1 hover:bg-gray-700 rounded">
                <div class="flex justify-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">Category List</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="mb-4 group">
            <a href="{{ path('unit_create') }}" class="block transform transition duration-300 ease-in-out hover:translate-x-1 hover:bg-gray-700 rounded">
                <div class="flex justify-between items-start p-2">
                    <div class="pr-3">
                        <span class="text-white">Daily Cost Entry</span>
                    </div>
                </div>
            </a>
        </li>


</ul>
