{% extends 'base.html.twig' %}

{% block title %}Space Inviters!{% endblock %}

{% block body %}
    <div class="flex">
        <aside class="hidden md:block md:w-64 bg-gray-900 px-2 py-6">
            <h2 class="text-xl text-white font-semibold mb-6 px-2">Planets</h2>
            <div>
                {{ include('main/_sidebar.html.twig') }}
            </div>
        </aside>

        <section class="flex-1 ml-10">
            <div class="bg-gray-800 p-4 rounded">
                {#       Start Content         #}


                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                SL
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Unit name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Unit Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Created Time
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for unit in units %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ loop.index }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ unit.name }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ unit.status == '1' ? 'Active' : 'Inactive' }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ unit.createdAt | date("m/d/Y") }}
                                </td>
                                <td class="px-6 py-4">
                                    <a href="{{ path('unit_edit', {'unit': unit.id}) }}"
                                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                    <a href="{{ path('unit_destroy', {'unit': unit.id}) }}"
                                       class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {#       End Content         #}
            </div>
        </section>
    </div>
{% endblock %}
